<div class="mt-5">
    <!-- Information for exception -->
    <div class="mt-2 shadow bg-white rounded">
        <div class="container">
            <h1 class="text-danger font-weight-bold">Достъп отказан!</h1>
            <h2 class="text-danger font-weight-bold">Не сте въвели коректен код за присъединяване към училище или все още не сте одобрени</h2>
        </div>
    </div>
</div>