@using ESchool.Common
@model ESchool.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = this.User.Identity.Name;
}

<div>
    @if (this.User.IsInRole("Administrator"))
    {
        <p>Admin</p>
    }
    <p>Класове: @Model.ClassesCount</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Class" asp-action="Create">Добавяне на клас</a>
</div>