@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Достъп отказан!";
}

<div class="mt-5">
    <div class="mt-2 shadow p-3 bg-white rounded">
        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">Нямате достъп до тази страница!</p>
        </header>
    </div>
</div>