<div class="m-1">
    <!-- Start header -->
    <div>
        <h3 class="font-color-dark-gray font-weight-light">Ученици, които са добавени към @Model.Name</h3>
    </div>
    <!-- End header -->
    <!-- Start info table -->
    <div class="row">
        <div class="col-md-12 shadow p-3 mt-4 bg-white rounded">
            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-striped table-hover sortable">
                    @foreach (var student in this.Model.Students)
                    {
                        <tr>
                            <td>
                                @student.FullName
                            </td>
                            <td>
                                @student.Email
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <!-- End info table -->
</div>